body{
    background-color: black;
    color: white;
    height : 100vh;
    width : 100vw;
    margin : 0;
    padding : 10px;
    display : flex;
    justify-content: center;
    align-items: center;
}

.player{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 80%;
    width : 50%;
    background-color : #282828;
    border-radius : 10px;
}

.top{
    padding : 2%;
    display : flex;
    justify-content: space-between;
    width : 80%;
    height : 10%;
}

.top i{
    margin-top : 3%;
    font-size : 100%;
    cursor : pointer;
}

.top i:hover{
    color : #1db954;
}

.top h2{
    font-size : 100%;
}

.song-image{
    width : height;
    height : 50%;
}

.song-image img{
    height : 100%;
    width : 100%;
    border-radius : 50%;
    border : 2px double #fff;
}

.rotate {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.song-details{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 15%;
    width : 100%;
}

.song-details h2{
    text-align : center;
}

.song-artist {
    margin-top : -1rem;
    font-size : 1rem;
}

.progress-bar{
    width : 80%;
    height : 7px;
    display : flex;
    align-items: center;
    background-color: dimgray;
    position : relative;
    border-radius : 5px;
}

.progress{
    width : 24%;
    height : 100%;
    background-color : #1db954;
    border-radius : 10px;
    position : relative;
}

.progress:hover{
    cursor : pointer;
}

.timer{
    /* position : absolute; */
    margin-top : 7px;
    font-size : 0.8rem;
    display : flex;
    justify-content: space-between;
    width : 80%;
}

.controls{
    padding : 2%;
    width : 80%;
    height : 15%;
    display : flex;
    justify-content: space-around;
    align-items: center;
    font-size : 1.5rem;
}

.controls i{
    cursor : pointer;
}

.controls i:hover{
    color : #1db954;
}

.controls i:nth-child(3){
    font-size : 2.5rem;
}

.active{
    color : #1db954;
}

